.form-check-input {
	width: 20px;
	height: 20px;
	background: white;
	margin-left: 0;
}
.radio input {
  margin-right: 10px;
}

.star-icon {
  color: #ffab00 !important;
  font-size: 20px;
}

.btn {
  color: #ffffff !important;
}

.cancel {
  background: #3F729B;
}

.reset-star {
  color: #3F729B !important;
  cursor: pointer;
  margin-left: .5rem;
}

.reset-star:hover {
  text-decoration: underline !important;
}

.buttons a{
  margin-right: 10px;
  display: inline-block;
}
.hideLoading {
  display: none;
}

.currency-input {
  padding-left: 50px;
}

.currency { 
  position: absolute;
  min-width: 43px;
  left: 15px;
  top: 0;
  border: 1px solid #ced4da;
  padding: .375rem .75rem;
  color: #495057 !important;
  cursor: pointer;
}

.budgets {
  margin-top: 1.5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border: 2px dotted #757575;
}

.deletebudget {
  cursor: pointer;
}

.seeall {
  color: #3F729B;
  cursor: pointer;
}
.seeall:hover {
	color: #1C2331;
}

.seeall:hover i:before{
	content: '\f060';
}