<div class="row">
	<div *ngIf="isChangePass == false" class="col-sm-9">
		<div class="form-row">
			<label class="col-sm-2">Nombre de Usuario</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
			</div>
		</div>
		<div class="form-row">
			<label class="col-sm-2">Contraseña</label>
			<div class="col-sm-10">
				<button class="btn btn-primary btn-sm" (click)="changePass()">Cambiar Contraseña</button>
			</div>
		</div>
		<div class="form-row mt-3">
			<label class="col-sm-2">Email</label>
			<div class="col-sm-10">
				<input type="email" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
			</div>
		</div>
		<div class="form-row mt-3">
			<label class="col-sm-2">Rol</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" [(ngModel)]="role" [ngModelOptions]="{standalone: true}" disabled>
			</div>
		</div>
		<div class="form-row mt-3">
			<label class="col-sm-2">Foto</label>
			<div class="col-sm-5">
				<input type="file" class="form-control">
			</div>
			<div class="col-sm-5">
				<img src="{{baseimg2}}{{photo}}" height="80px">
			</div>
		</div>
		<div class="form-row mt-3">
			<div class="col-sm-2"></div>
			<div class="col-sm-5">
				<button class="btn btn-primary" (click)="save()">Guardar</button>
				<button class="btn btn-primary cancel ml-2" (click)="cancel()">Cancelar</button>
			</div>
		</div>
	</div>

	<div *ngIf="isChangePass" class="col-sm-9">
		<div class="form-row">
			<label class="col-sm-4">Contraseña anterior</label>
			<div class="col-sm-6">
				<input type="password" class="form-control" [(ngModel)]="oldpass" [ngModelOptions]="{standalone: true}">
			</div>
		</div>
		<div class="form-row mt-3">
			<label class="col-sm-4">Contraseña nueva</label>
			<div class="col-sm-6">
				<input type="password" class="form-control" [(ngModel)]="newpass" [ngModelOptions]="{standalone: true}">
			</div>
		</div>
		<div class="form-row mt-3">
			<label class="col-sm-4">Confirmar contraseña nueva</label>
			<div class="col-sm-6">
				<input type="password" class="form-control" [(ngModel)]="newpassconfirm" [ngModelOptions]="{standalone: true}">
			</div>
		</div>
		<div class="form-row mt-3">
			<div class="col-sm-4"></div>
			<div class="col-sm-6">
				<button class="btn btn-primary" (click)="savePass()">Guardar</button>
				<button class="btn btn-primary cancel ml-2" (click)="cancelPass()">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<ng2-toasty [position]="'top-right'"></ng2-toasty>
