<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-sm-8 text-center mb-3">
      <form novalidate class="ng-untouched ng-pristine ng-valid" (submit)="searchCode()">
        <div class="form-group row">
          <label class="col-sm-1 col-form-label">Buscar</label>
          <div class="col-sm-6">
            <div class="clearContainer">
              <input class="form-control code-search" type="text" [(ngModel)]="code2search" [ngModelOptions]="{standalone: true}" placeholder="ejem: AlpaCusco" (keypress)="searchChange()">
              <span *ngIf="isSearching" (click)="ClearSearch()" class="clearSearch"><i class="far fa-times-circle"></i></span>              
            </div>
            <button type="submit" class="btn btn-primary search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-4 text-right mb-3">
      <a *ngIf="showadd" [routerLink]="['/proveedores/add/new']" class="btn btn-primary waves-light" mdbWavesEffect>Añadir</a>
    </div>
  </div>
</div>
<div class="container-fluid registro-table">
  <div class="numrows row">
    <div class="col-sm-6">
        <label class="mr-2">Número de registros: </label>
        <select class="rows-values" (change)="setRows()" [(ngModel)]="itemspertable" [ngModelOptions]="{standalone: true}">
          <option value="20">20</option>
          <option *ngIf="items > 50" value="50">50</option>
          <option *ngIf="items > 100" value="100">100</option>
          <option value="{{ items }}">Todos</option>
        </select>
    </div>
  </div>
  <div *ngIf="isLoading" class="img-loading text-center">
    <img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="75px">
  </div>
  <h5 *ngIf="showData == false && isLoading == false" class="text-right mt-3 mb-3">No se encontraron datos</h5>
  <table *ngIf="showData" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="selectChange($event, row)"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)" matTooltip="{{element.nombre}}" > {{ cutText(element.nombre) }} </td>
    </ng-container>

    <ng-container matColumnDef="socialreason">
      <th mat-header-cell *matHeaderCellDef> Razón Social </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)" matTooltip="{{element.socialreason}}" > {{ cutText(element.socialreason) }} </td>
    </ng-container>

    <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef> Dirección </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)" matTooltip="{{element.direccion}}"> {{ cutText(element.direccion) }} </td>
    </ng-container>

    <ng-container matColumnDef="ruc">
      <th mat-header-cell *matHeaderCellDef> RUC </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)" > {{ element.ruc }} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> Teléfono </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)" > {{ element.telefono }} </td>
    </ng-container>

    <ng-container matColumnDef="contacto">
      <th mat-header-cell *matHeaderCellDef> Contacto </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)" matTooltip="{{element.contacto}}" > {{ cutText(element.contacto) }} </td>
    </ng-container>

    <ng-container matColumnDef="calificacion">
      <th mat-header-cell *matHeaderCellDef> Calificación </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)" >
        <a class="star-icon" *ngFor="let i of [1,2,3,4,5]">
          <i *ngIf="i <= element.calificacion" class="fas fa-star"></i>
          <i *ngIf="i > element.calificacion" class="far fa-star"></i>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="logo">
      <th mat-header-cell *matHeaderCellDef> Categoria </th>
      <td mat-cell *matCellDef="let element" (click)="editTrip(element.aux)" > {{ getCategory(element.category) }} </td>
    </ng-container>

    <ng-container matColumnDef="aux">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element" class="operation_icons">
        <a *ngIf="showview" (click)="viewTrip(element.aux)" class="mr-1"><i class="fas fa-eye"></i></a>
        <a *ngIf="showedit" (click)="editTrip(element.aux)"><i class="far fa-edit"></i></a>
        <a *ngIf="showdelete" (click)="deleteTrip(element)"><i class="far fa-trash-alt"></i></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </table>

  <nav *ngIf="showData" aria-label="Page navigation" class="mt-3">
    <ul class="pagination justify-content-center">
      <li class="page-item {{disablePrev}}">
        <a class="page-link" (click)="previusPage()" tabindex="-1"><span aria-hidden="true">&laquo;</span></a>
      </li>

      <li *ngIf="page - 3 > 0" class="page-item">
        <a class="page-link" (click)="changePage(page-3)">...</a>
      </li>
      <li *ngIf="page - 2 > 0" class="page-item">
        <a class="page-link" (click)="changePage(page-2)">{{page-2}}</a>
      </li>
      <li *ngIf="page - 1 > 0" class="page-item">
        <a class="page-link" (click)="changePage(page-1)">{{page-1}}</a>
      </li>
      <li class="page-item active">
        <a class="page-link" (click)="changePage(page)">{{page}}</a>
      </li>
      <li *ngIf="page + 1 <= totalpages" class="page-item">
        <a class="page-link" (click)="changePage(page+1)">{{page+1}}</a>
      </li>
      <li *ngIf="page + 2 <= totalpages" class="page-item">
        <a class="page-link" (click)="changePage(page+2)">{{page+2}}</a>
      </li>
      <li *ngIf="page + 3 <= totalpages" class="page-item">
        <a class="page-link" (click)="changePage(page+3)">...</a>
      </li>
      <li class="page-item {{disableNext}}">
        <a class="page-link" (click)="nextPage()"><span aria-hidden="true">&raquo;</span></a>
      </li>
    </ul>
  </nav>
</div>

<ng2-toasty [position]="'top-right'"></ng2-toasty>
