.registro-table {
	overflow-x: overlay;
}
.green-border-left {
	color: rgb(51, 51, 51);
	font-family: Arial, Arial;
	font-weight: 700;
	border-left: 5px solid rgb(43, 106, 11);
}

th {
	color: rgb(51, 51, 51);
	font-family: Arial, Arial;
	text-align: left !important;
	font-size: 9pt;
	font-style: normal;
	font-weight: 700;
}

td {
	color: rgb(66, 139, 202);
	text-align: left;
	font-family: Arial, Arial;
	font-size: 9pt;
	font-style: normal;
	font-weight: 400;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.white-bg {
	position: relative;
}


.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
	color: #ffffff !important;
	height: 35px;
    cursor: pointer;
    padding-top: 7px;
}