.form-check-input {
	width: 20px;
	height: 20px;
	background: white;
	margin-left: 0;
}


.loading-img{
	height: 25px;
	display: inline-block;
}

.hideLoading {
	display: none;
}

.radio input {
	margin-right: 10px;
}
.star-icon {
  color: #ffab00 !important;
}
.btn {
  color: #ffffff !important;
}

.cancel {
  background: #3F729B;
}

.reset-star {
  color: #3F729B !important;
  cursor: pointer;
  margin-left: .5rem;
}
.reset-star:hover {
  text-decoration: underline !important;
}
.seeall {
	color: #3F729B;
	cursor: pointer;
  }
  .seeall:hover {
	  color: #1C2331;
  }
  
  .seeall:hover i:before{
	  content: '\f060';
  }