<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 mb-4">
			<a class="seeall" (click)="goback()"><i class="fas fa-th-list"></i> Volver</a>
		</div>
	</div>
	<form novalidate class="ng-untouched ng-pristine ng-valid">
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Nombre</label>
			<div class="col-sm-5">
				<input class="form-control" type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="ejem: Hotel Libertador">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Razón Social</label>
			<div class="col-sm-5">
				<input class="form-control" type="text" [(ngModel)]="socialreason" [ngModelOptions]="{standalone: true}" placeholder="ejem: Hotel Libertador">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Dirección</label>
			<div class="col-sm-5">
				<input class="form-control" type="text" [(ngModel)]="address" [ngModelOptions]="{standalone: true}" placeholder="ejem: Av. Siempre Viva">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">RUC</label>
			<div class="col-sm-5">
				<input class="form-control" type="number" [(ngModel)]="RUC" [ngModelOptions]="{standalone: true}" placeholder="ejem: 12345678901">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Categoria</label>
			<div class="col-sm-5">
				<select class="form-control" name="select" [(ngModel)]="category" [ngModelOptions]="{standalone: true}">
					<option value="0">Seleccione una Categoria</option>
					<option *ngFor="let typ of list_categories" value="{{typ.id}}">{{typ.name}}</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Tipo</label>
			<div class="col-sm-5">
				<select class="form-control" [(ngModel)]="type" [ngModelOptions]="{standalone: true}" >
					<option value="0">Eliga un tipo</option>
					<option value="A">Empresa</option>
					<option value="B">Persona</option>
					<option value="C">Agencia</option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Teléfono</label>
			<div class="col-sm-5">
				<input class="form-control" type="tel" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" placeholder="ejem: 987654321">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Contacto</label>
			<div class="col-sm-5">
				<input class="form-control" type="email" [(ngModel)]="contact" [ngModelOptions]="{standalone: true}" placeholder="ejem: contacto@empresa.com">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Calificación</label>
			<div class="col-sm-5">
        <a class="star-icon" *ngFor="let i of [1,2,3,4,5]" (click)="starsClick(i)" >
          <i *ngIf="i <= rate" class="fas fa-star"></i>
          <i *ngIf="i > rate" class="far fa-star"></i>
        </a>
        <a (click)="starsClick(0)" class="reset-star">reset</a>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-3 col-form-label">Logo</label>
			<div class="col-sm-5">
				<img *ngIf="showImg == true" src="{{baseImg + logo_url}}" draggable="false" height="100px" (click)="openImage(baseImg + logo_url)">
				<img *ngIf="showImg == false" src="{{logo_base64}}" draggable="false" height="100px" (click)="openImage(logo_base64)">
        <img *ngIf="showImgNot == true" src="{{baseimg2}}assets/images/no-picture.png" draggable="false" height="100px" (click)="openImage(baseimg2 +'assets/images/no-picture.png')">
				<input class="form-control" type="file" [(ngModel)]="logo" [ngModelOptions]="{standalone: true}" (change)="onChange($event)">
			</div>
		</div>

        <div class="form-group row">
        	<div class="col-sm-3"></div>
          <div class="col-sm-5">
						<a class="btn btn-primary mr-2" (click)="save()">Guardar</a>
						<a class="btn btn-primary cancel" (click)="cancelar()">Cancelar</a>
          </div>
        </div>
  </form>
</div>
<ng2-toasty [position]="'top-right'"></ng2-toasty>