.form-check-input {
	width: 20px;
	height: 20px;
	background: white;
	margin-left: 0;
}


.loading-img{
	height: 25px;
	display: inline-block;
}

.hideLoading {
	display: none;
}

.radio input {
	margin-right: 10px;
}

.star-icon {
  color: #ffab00 !important;
  font-size: 18px;
}
.seeall {
	color: #3F729B;
	cursor: pointer;
  }
  .seeall:hover {
	  color: #1C2331;
  }
  
  .seeall:hover i:before{
	  content: '\f060';
  }