<div class="container-fluid">
   <form novalidate class="ng-untouched ng-pristine ng-valid">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Tipo de Viaje</label>
            <div class="col-sm-5">
              <select class="form-control" [(ngModel)]="trip_type" [ngModelOptions]="{standalone: true}">
                <option value="0">Seleccione un Tipo de Viaje</option>
                <option *ngFor="let t of trip_types_list" value="{{t.id}}">{{t.name}}</option>
              </select>
            </div>
            <div class="col-sm-3 col-form-label">
              <a class="functions-icons-add mr-2" [routerLink]="['/utilidades/add/1']">
                <i class="far fa-plus-square"></i>
              </a>
              <a class="functions-icons-edit mr-2" (click)="editar(1)">
                <i class="ti-pencil-alt"></i>
              </a>
              <a class="functions-icons-delete" (click)="delete(1)">
                <i class="fas fa-trash-alt"></i>
              </a>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Categoria</label>
            <div class="col-sm-5">
              <select class="form-control" [(ngModel)]="category" [ngModelOptions]="{standalone: true}">
                <option value="0">Seleccione una Categoria</option>
                <option *ngFor="let t of category_list" value="{{t.id}}">{{t.name}}</option>
              </select>
            </div>
            <div class="col-sm-3 col-form-label">
              <a class="functions-icons-add mr-2" [routerLink]="['/utilidades/add/2']">
                <i class="far fa-plus-square"></i>
              </a>
              <a class="functions-icons-edit mr-2" (click)="editar(2)">
                <i class="ti-pencil-alt"></i>
              </a>
              <a class="functions-icons-delete" (click)="delete(2)">
                <i class="fas fa-trash-alt"></i>
              </a>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-3 col-form-label">Tipo de Operación</label>
            <div class="col-sm-5">
              <select class="form-control" [(ngModel)]="operation_type" [ngModelOptions]="{standalone: true}">
                <option value="0">Seleccione un Tipo de Operación</option>
                <option *ngFor="let t of operation_types_list" value="{{t.id}}">{{t.name}}</option>
              </select>
            </div>
            <div class="col-sm-3 col-form-label">
              <a class="functions-icons-add mr-2" [routerLink]="['/utilidades/add/3']">
                <i class="far fa-plus-square"></i>
              </a>
              <a class="functions-icons-edit mr-2" (click)="editar(3)">
                <i class="ti-pencil-alt"></i>
              </a>
              <a class="functions-icons-delete" (click)="delete(3)">
                <i class="fas fa-trash-alt"></i>
              </a>
            </div>
        </div>        

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Tipo de Documento</label>
          <div class="col-sm-5">
              <select class="form-control" [(ngModel)]="document_type" [ngModelOptions]="{standalone: true}">
                <option value="0">Seleccione un Tipo de Documento</option>
                <option *ngFor="let t of document_type_list" value="{{t.id}}">{{t.name}}</option>
              </select>
          </div>
          <div class="col-sm-3 col-form-label">
              <a class="functions-icons-add mr-2" [routerLink]="['/utilidades/add/4']">
                <i class="far fa-plus-square"></i>
              </a>
              <a class="functions-icons-edit mr-2" (click)="editar(4)">
                <i class="ti-pencil-alt"></i>
              </a>
              <a class="functions-icons-delete" (click)="delete(4)">
                <i class="fas fa-trash-alt"></i>
              </a>
            </div>
        </div>
  </form>
</div>
<ng2-toasty [position]="'top-right'"></ng2-toasty>
