<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 mb-4">
			<a class="seeall" (click)="goback()"><i class="fas fa-th-list"></i> Volver</a>
		</div>
		<div class="col-sm-6">
			<form novalidate class="ng-untouched ng-pristine ng-valid">
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Fecha</label>
					<div class="col-sm-9">
						<my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="date1" [ngModelOptions]="{standalone: true}"></my-date-picker>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Proveedor</label>
			      	<div class="col-sm-9">
			        	<mat-form-field class="example-full-width">
			          	<input type="text" placeholder="Seleccione un proveedor" aria-label="Number" matInput [formControl]="myControl2" [matAutocomplete]="auto2">
			          		<mat-autocomplete #auto2="matAutocomplete" (optionSelected)='providerChange($event.option.value)'>
			            		<mat-option *ngFor="let option of filteredOptions2 | async" [value]="option">
			              			{{ option }}
			            		</mat-option>
			          		</mat-autocomplete>
			        	</mat-form-field>
					  </div>
					  <div class="col-sm-3" *ngIf="showproviderinfo && myControl2.value"></div>
					  <div class="col-sm-9" *ngIf="showproviderinfo && myControl2.value">
						  <p>Razon Social: {{razon_aux}} // RUC: {{ruc_aux}}</p>
					  </div>
			      	<img *ngIf="isloading" src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="30px">
				</div>
				
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Descripción</label>
					<div class="col-sm-9">
						<textarea class="form-control" [(ngModel)]="register.description" [ngModelOptions]="{standalone: true}"></textarea>
					</div>
				</div>

				<!--<div class="form-group row">
					<label class="col-sm-3 col-form-label">Tipo de Operación</label>
					<div class="col-sm-9">
						<select class="form-control" name="select" [(ngModel)]="register.operation_type" [ngModelOptions]="{standalone: true}">
							<option value="0">Seleccione una Operación</option>
							<option *ngFor="let typ of list_tip_ope" value="{{typ.id}}">{{typ.name}}</option>
						</select>
					</div>
				</div>-->

				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Tipo de Caja</label>
					<div class="col-sm-9">
						<select 
							class="form-control"
							name="select"
							[(ngModel)]="register.type"
							[ngModelOptions]="{standalone: true}"
							(change)="ChangeTipoCaja()">
							<option value="0">Seleccione un Tipo de Caja</option>
							<option *ngFor="let typ of list_tipes" value="{{typ.id}}">{{typ.name}}</option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Monto</label>
						<div class="col-sm-9">
								<a class="currency" (click)=toggleCurrency()>{{ register.currency == 'S' ? 'S/.' : '$' }}</a>
								<input 
									class="form-control currency-input"
									type="number"
									[(ngModel)]="register.amount"
									[ngModelOptions]="{standalone: true}"
									(focusout)="montoChange()"
									placeholder="0.00"
									(keypress)="numberChange($event)">
					</div>
			</div>

				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Tipo de Cambio</label>
				  	<div class="col-sm-9">				  		
						<input class="form-control" type="number" [(ngModel)]="register.exchange_rate" [ngModelOptions]="{standalone: true}" (focusout)="montoChange()" (keypress)="numberChange($event)" placeholder="0.00">
					</div>
				</div>
		        <div class="form-group row buttons-add-row">
					<a class="btn btn-primary {{isUploading ? 'disabled' : ''}}" (click)="save(1)">Guardar y Cerrar</a>
					<a class="btn btn-primary {{isUploading ? 'disabled' : ''}}" (click)="save(2)">Guardar y Nuevo</a>
					<a class="btn btn-primary cancel" (click)="cancelar()">Cancelar</a>

		        	<!--<div class="col-sm-3"></div>
		        	<div class="col-sm-4">
		        		<a class="btn btn-primary {{isUploading ? 'disabled' : ''}}" (click)="save()">Guardar</a>
		        	</div>
		          	<div class="col-sm-4">
		            	<a class="btn btn-primary cancel" (click)="cancelar()">Cancelar</a>
		          	</div>-->
		        </div>
		  </form>
		</div>
		
	</div>
</div>

<ng2-toasty [position]="'top-right'"></ng2-toasty>
