<div class="container-fluid">
  <div class="row justify-content-center mt-5">
    <div class="col-sm-12 mb-4">
      <a class="seeall" (click)="goback()"><i class="fas fa-th-list"></i> Volver</a>
    </div>
    <div class="col-sm-8 text-center mb-3">
      <h5 class="text-left">Viaje: {{Trip}}</h5>
    </div>
    <div class="col-sm-4 text-right mb-3">
      
    </div>
  </div>
</div>
<div class="container-fluid">

</div>
<div class="container-fluid registro-table pb-2">

  <table class="mat-table mat-elevation-z8">
    <thead>
    <tr class="mat-header-row">
      <th class="mat-header-cell"> Categoria </th>
      <th class="mat-header-cell"> Presupuesto<br>Soles</th>
      <th class="mat-header-cell"> Real<br>Soles</th>
      <th class="mat-header-cell"> Diferencia<br>Soles </th>
      <th class="mat-header-cell"> Presupuesto<br>Dolares</th>
      <th class="mat-header-cell"> Real<br>Dolares</th>
      <th class="mat-header-cell"> Diferencia<br>Dolares </th>
      <!--<th class="mat-header-cell"> Porcentaje </th>-->
      <th class="mat-header-cell"> Documentos </th>
    </tr>
    </thead>
    <tbody>
    <tr class="mat-row loading {{showLoading}}">
      <td colspan="4">
        <img src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false">
      </td>
    </tr>

    <tr *ngFor="let v of resumen" class="mat-row {{showTableData}} {{v.active}}">
      <td class="mat-cell">{{v.category}}</td>
      <td class="mat-cell">{{v.budget_s}}</td>
      <td class="mat-cell">{{v.real_s}}</td>
      <td class="mat-cell">{{v.diference_s}}</td>
      <td class="mat-cell">{{v.budget_d}}</td>
      <td class="mat-cell">{{v.real_d}}</td>
      <td class="mat-cell">{{v.diference_d}}</td>
      <!--<td class="mat-cell">{{real_s !== '' ? v.percentage_s : v.percentage_d}}</td>-->
      <td class="mat-cell">
        <a class="detalles" (click)="openDocuments(v)">Ver Documentos</a>
      </td>
    </tr>
    <tr>
      <td class="mat-cell">Total</td>
      <td>{{ SumBudget_s.toFixed(2) }}</td>
      <td>{{ SumReal_s.toFixed(2) }}</td>
      <td>{{ SumDiff_s.toFixed(2) }}</td>

      <td>{{ SumBudget_d.toFixed(2) }}</td>
      <td>{{ SumReal_d.toFixed(2) }}</td>
      <td>{{ SumDiff_d.toFixed(2) }}</td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>

  <div class="row mt-4">
    <label class="col-sm-3">Cerrar viaje (Operaciones)</label>
    <div class="col-sm-9">
      <label class="mr-2 pb-2">No</label>
      <mat-slide-toggle [disabled]="disableOperation" [(ngModel)]="closeOperations" (change)="Closetrip()">Si</mat-slide-toggle>
      <img class="ml-2" *ngIf="closing" src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="20px">
    </div>
    <label class="col-sm-3">Cerrar viaje (Gerencia)</label>
    <div class="col-sm-9">
        <label class="mr-2 pb-2">No</label>
        <mat-slide-toggle [disabled]="disableManage" [(ngModel)]="closeManagement" (change)="Closetrip()">Si</mat-slide-toggle>
        <img class="ml-2" *ngIf="closing" src="{{baseimg2}}assets/images/loading/spin.gif" draggable="false" height="20px">
    </div>
  </div>


</div>

<ng2-toasty [position]="'top-right'"></ng2-toasty>
