<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 mb-4">
			<a class="seeall" (click)="goback()"><i class="fas fa-th-list"></i> Volver</a>
		</div>
		<div class="col-sm-6">
			<form novalidate class="ng-untouched ng-pristine ng-valid">
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Fecha</label>
					<div class="col-sm-9">
						<my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="date1" [ngModelOptions]="{standalone: true}"></my-date-picker>
					</div>
				</div>

				<!--<div class="form-group row">
					<label class="col-sm-3 col-form-label">Tipo de Operación</label>
					<div class="col-sm-9">
						<select class="form-control" name="select" [(ngModel)]="register.operation_type" [ngModelOptions]="{standalone: true}">
							<option value="0">Seleccione una Operación</option>
							<option *ngFor="let typ of list_tip_ope" value="{{typ.id}}">{{typ.name}}</option>
						</select>
					</div>
				</div>-->
				
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Descripción</label>
					<div class="col-sm-9">
						<textarea class="form-control" [(ngModel)]="register.description" [ngModelOptions]="{standalone: true}"></textarea>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-3 col-form-label">#Cheque / Trans</label>
				  	<div class="col-sm-9">
						<input class="form-control" type="text" [(ngModel)]="register.cheque_number" [ngModelOptions]="{standalone: true}" (keyup)="toUpper()">
					</div>
				</div>

				
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12"><hr></div>
		<div class="col-sm-6">
			<h4 class="text-center mb-3">Origen</h4>
			<form novalidate class="ng-untouched ng-pristine ng-valid">
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Tipo de Caja</label>
					<div class="col-sm-9">
						<select 
							class="form-control"
							name="select"
							[(ngModel)]="register.type"
							[ngModelOptions]="{standalone: true}"
							(change)="ChangeTipoCaja()">
							<option value="0">Seleccione un Tipo de Caja</option>
							<option *ngFor="let typ of list_tipes" value="{{typ.id}}">{{typ.name}}</option>
							<option value="OS">Otros Soles</option>
							<option value="OD">Otros Dólares</option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Monto</label>
				  	<div class="col-sm-9">
				  		<a class="currency" (click)=toggleCurrency()>{{ register.currency == 'S' ? 'S/.' : '$' }}</a>
						<input class="form-control currency-input" type="number" [(ngModel)]="register.amount" [ngModelOptions]="{standalone: true}" (focusout)="montoChange()" placeholder="0.00" (keypress)="numberChange($event)">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Tipo de Cambio</label>
				  	<div class="col-sm-9">				  		
						<input class="form-control" type="number" [(ngModel)]="register.exchange_rate" [ngModelOptions]="{standalone: true}" (focusout)="exchangeChange()" (keypress)="numberChange($event)" placeholder="0.00">
					</div>
				</div>

			</form>
		</div>
		<div class="col-sm-6">
			<h4 class="text-center mb-3">Destino</h4>
			<form novalidate class="ng-untouched ng-pristine ng-valid">
				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Tipo de Caja</label>
					<div class="col-sm-9">
						<select 
							class="form-control"
							name="select"
							[(ngModel)]="registerDestino.type"
							[ngModelOptions]="{standalone: true}"
							(change)="ChangeTipoCaja2()">
							<option value="0">Seleccione un Tipo de Caja</option>
							<option *ngFor="let typ of list_tipes" value="{{typ.id}}">{{typ.name}}</option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-3 col-form-label">Monto</label>
				  	<div class="col-sm-9">
				  		<a class="currency" (click)=toggleCurrency2()>{{ registerDestino.currency == 'S' ? 'S/.' : '$' }}</a>
						<input class="form-control currency-input" type="number" [(ngModel)]="registerDestino.amount" [ngModelOptions]="{standalone: true}" (focusout)="montoChange2()" placeholder="0.00" (keypress)="numberChange($event)">
					</div>
				</div>
			</form>
		</div>
		<div class="col-sm-6 mt-4">
			<form novalidate class="ng-untouched ng-pristine ng-valid">				
		        <div class="form-group row buttons-add-row">
					<a class="btn btn-primary {{isUploading ? 'disabled' : ''}}" (click)="save(1)">Guardar y Cerrar</a>
					<a class="btn btn-primary {{isUploading ? 'disabled' : ''}}" (click)="save(2)">Guardar y Nuevo</a>
					<a class="btn btn-primary cancel" (click)="cancelar()">Cancelar</a>

		        	<!--<div class="col-sm-3"></div>
		        	<div class="col-sm-4">
		        		<a class="btn btn-primary {{isUploading ? 'disabled' : ''}}" (click)="save()">Guardar</a>
		        	</div>
					<div class="col-sm-4">
						<a class="btn btn-primary cancel" (click)="cancelar()">Cancelar</a>
					</div>-->
		        </div>
		  </form>
		</div>
		
	</div>
</div>

<ng2-toasty [position]="'top-right'"></ng2-toasty>
